<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Protogen Bot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">

    <div class="chat-header">
        <b>Protogen Bot</b><br>
        <small style="color: #4caf50;">онлайн</small>
    </div>

    <div id="chat-box" class="chat-box">
        <div class="message bot">
            Привет 👋 Я Protogen Bot<br>
            Напиши "команды"
        </div>
    </div>

    <div class="chat-input">
        <input type="text" id="message" placeholder="Написать сообщение..." onkeydown="if(event.key==='Enter') sendMessage()">
        <button onclick="sendMessage()">▶</button>
    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>
